@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  --background: transparent;
}

div.item-native {
  padding: 0 !important;
}

.onTop {
  z-index: 999999;
}

.fadedBg {
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ion-activated {
  background: none  !important;
}

@keyframes shimmer {
  0% {
    background-position: -20rem 0;
  }
  100% {
    background-position: 20rem 0;
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background: #f6f7f8; /* Base color for your skeleton */
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%, 
    #edeef1 50%, 
    #f6f7f8 100%
  ); /* Shimmer effect with the same color at both ends */
  background-repeat: no-repeat;
  background-size: 200% 100%; /* Increase the background size to ensure smoothness */
  animation: shimmer 1.5s infinite linear;
}

.skeleton:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: inherit;
  animation: inherit;
}

@media (prefers-color-scheme: dark) {
  .skeleton {
    background: #2a2a2a;
    background-image: linear-gradient(
      to right,
      #1d1d1d 0%, /* darker shade for dark mode */
      #232323 50%, /* darker shade for dark mode */
      #131313 100%
    ) !important;
    background-repeat: no-repeat;
    background-size: 200% 100%; /* Increase the background size to ensure smoothness */
    animation: shimmer 2.5s infinite linear;
  }
}

.rainbow {
  animation: rainbowCycle 5s infinite linear;

}
@keyframes rainbowCycle {
  0%   { background-color: #e06c75; } /* Red */
  14%  { background-color: #d19a66; } /* Orange */
  28%  { background-color: #e5c07b; } /* Yellow */
  42%  { background-color: #98c379; } /* Green */
  57%  { background-color: #56b6c2; } /* Blue */
  71%  { background-color: #61afef; } /* Indigo */
  85%  { background-color: #c678dd; } /* Violet */
  100% { background-color: #e06c75; } /* Red */
}

.button {
  animation: rainbowCycle 10s infinite linear;
}

.select-text {
  color: #222 !important;
}
